h1 {
    font-size: 40px;
    color: blueviolet;
}

.unLineColor {
    border-bottom: double blue 5px;
}

#listA {
    background-color: aqua;
}

hr {
    border: dashed 0px lightgrey;
    padding-top: 2px;
    background: repeating-linear-gradient(
        to right, grey 0 var(--dashed-filled, 10px), 
        transparent 0 calc(var(--dashed-filled, 14px) + var(--dashed-open, 6px)));
}